<header class="header" id="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">
        <span class="header-logo-span">SIMPLY</span>CHOCOLATE
        <svg width="" height="">
          <use href=""></use>
        </svg>
      </a>
      <ul class="header-list list">
        <li class="header-list-item">
          <a href="#header" class="header-list-link">Home</a>
        </li>
        <li class="header-list-item">
          <a href="" class="header-list-link">How it's made?</a>
        </li>
        <li class="header-list-item">
          <a href="" class="header-list-link">Our products</a>
        </li>
        <li class="header-list-item">
          <a href="" class="header-list-link">Top sellers</a>
        </li>
        <li class="header-list-item">
          <a href="" class="header-list-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    
      <ul class="header-socials-list list">
        <li class="header-socials-item">
          <a href="" class="header-socials-link">
            <svg width="" height="">
              <use></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a href="" class="header-socials-link">
            <svg width="" height="">
              <use></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="header-menu-button"> 
        <svg width="" height="">
        <use href="">

        </use>
      </svg>
    </button>
    
  </div>
</header>
