<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="visually-hidden">Chocolate</h1>

      <p class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>

      <div class="btns-wrapper">
        <button class="hero-buy-btn js-open-modal" type="button" data-modal="4">
          Buy now
        </button>
        <a class="hero-made-anchor" href="#how-its-made">
          How it&apos;s made
        </a>
        <a class="hero-scroll" href="#footer"
          ><span class="scroll-txt">scroll down</span>
          <svg class="hero-icon" width="22" height="22">
            <use href="/img/sprite.svg#scroll-down-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
