<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h2 class="visually-hidden">Chocolate</h2>
      <p class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <ul class="hero-buttons">
        <li>
          <button class="hero-buy-btn hero-btn" js-open-modal data-modal="4">
            Buy now
          </button>
        </li>
        <li>
          <a href="#how-its-made"
            ><button class="hero-made-btn hero-btn">
              How it&apos;s made
            </button></a
          >
        </li>
      </ul>
      <div class="hero-scroll">
        <span class="hero-scroll-txt">scroll down</span>
        <a href="#footer"
          ><button class="hero-scroll-btn" type="button">
            <svg class="hero-icon" width="16" height="16">
              <use href="../img/sprite.svg#scroll-down-icon"></use>
            </svg></button
        ></a>
      </div>
    </div>
  </div>
</section>
