<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg width="32" height="32">
      <use href="./img/sprite.svg#mobile-menu-close-icon"></use>
    </svg>
  </button>

  <ul class="mobile-menu-list list">
    <li class="header-list-item">
      <a href="#header" class="header-list-link">Home</a>
    </li>
    <li class="header-list-item">
      <a href="" class="header-list-link">How it's made?</a>
    </li>
    <li class="header-list-item">
      <a href="" class="header-list-link">Our products</a>
    </li>
    <li class="header-list-item">
      <a href="" class="header-list-link">Top sellers</a>
    </li>
    <li class="header-list-item">
      <a href="" class="header-list-link">Chocolate is loved</a>
    </li>
  </ul>

  <ul class="mobile-socials-list list">
    <li class="header-socials-item">
      <a
        href="https://instagram.com"
        target="_blank"
        rel="noopener noreferrer"
        class="header-socials-link"
        aria-label=""
      >
        <svg width="24" height="24">
          <use href="./img/sprite.svg#instagram-icon"></use>
        </svg>
      </a>
    </li>
    <li class="header-socials-item">
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        class="header-socials-link"
        aria-label=""
      >
        <svg width="24" height="24">
          <use href="./img/sprite.svg#twitter-icon"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
