<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-wrapper">
    <button class="menu-toggle js-close-menu">
      <svg width="28" height="28">
        <use href="./img/sprite.svg#menu-modal-close-icon"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list list">
      <li class="mobile-list-item">
        <a href="#header" class="mobile-list-link">Home</a>
      </li>
      <li class="mobile-list-item">
        <a href="" class="mobile-list-link">How it's made?</a>
      </li>
      <li class="mobile-list-item">
        <a href="" class="mobile-list-link">Our products</a>
      </li>
      <li class="mobile-list-item">
        <a href="" class="mobile-list-link">Top sellers</a>
      </li>
      <li class="mobile-list-item">
        <a href="" class="mobile-list-link">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="mobile-socials-list list">
      <li class="mobile-socials-item">
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          class="mobile-socials-link"
          aria-label=""
        >
          <svg width="24" height="24">
            <use href="./img/sprite.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-socials-item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          class="mobile-socials-link"
          aria-label=""
        >
          <svg width="24" height="24">
            <use href="./img/sprite.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
