<section class="section-products" id="our-products">
    <div class="container">
        <h2 class="products-title">Our <span class="products-title-orange">pRODUCTS</span></h2>

        <div class="swiper">
            <div class="swiper-wrapper">
                
                <div class="swiper-slide">
                    <div class="products-item">
                        <div class="products-thumb">
                            <img 
                            srcset="./img/our-products/orange-chocolate@2x.jpg 2x"
                            src="./img/our-products/orange-chocolate.jpg"
                            alt="bar of chocolate"
                            width="230"
                            height="201"
                            />
                            
                            <h3 class="products-name">orange</h3>
                            <p class="products-text">Dark chocolate</p>
                            <button class="products-btn" type="button">45UAH</button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="products-item">
                        <div class="products-thumb">
                            <img 
                            srcset="./img/our-products/apple-cranberry-chocolate@2x.jpg 2x"
                            src="./img/our-products/apple-cranberry-chocolate.jpg"
                            alt="bar of chocolate"
                            width="230"
                            height="201"
                            />
                        
                            <h3 class="products-name">APPLE&CRANBERRY</h3>
                            <p class="products-text">Milk chocolate</p>
                            <button class="products-btn" type="button">50 UAH</button>
                        </div>
                    </div>
                </div>
                

                <div class="swiper-slide">
                    <div class="products-item">
                        <div class="products-thumb">
                            <img 
                            srcset="./img/our-products/lime-sea-salt-chocolate@2x.jpg 2x"
                            src="./img/our-products/lime-sea-salt-chocolate.jpg"
                            alt="bar of chocolate"
                            width="230"
                            height="201"
                            />
                        
                            <h3 class="products-name">lime&sea salt</h3>
                            <p class="products-text">Dark chocolate</p>
                            <button class="products-btn" type="button">66 UAH</button>
                        </div>
                    </div>
                </div>
                

                <div class="swiper-slide">
                    <div class="products-item">
                        <div class="products-thumb">
                            <img 
                            srcset="./img/our-products/pineapple-chocolate@2x.jpg 2x"
                            src="./img/our-products/pineapple-chocolate.jpg"
                            alt="bar of chocolate"
                            width="230"
                            height="201"
                            />
                        
                            <h3 class="products-name">pineapple</h3>
                            <p class="products-text">Dark chocolate</p>
                            <button class="products-btn" type="button">54 UAH</button>
                        </div>
                    </div>
                </div>
                

                <div class="swiper-slide">
                    <div class="products-item">
                        <div class="products-thumb">
                            <img 
                            srcset="./img/our-products/classic-milk-chocolate@2x.jpg 2x"
                            src="./img/our-products/classic-milk-chocolate.jpg"
                            alt="bar of chocolate"
                            width="230"
                            height="201"
                            />
                        
                            <h3 class="products-name">Classic</h3>
                            <p class="products-text">Milk chocolate</p>
                            <button class="products-btn" type="button">45 UAH</button>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <li class="products-item">
                        <div class="products-thumb">
                            <img 
                            srcset="./img/our-products/honey-chocolate@2x.jpg 2x"
                            src="./img/our-products/honey-chocolate.jpg"
                            alt="bar of chocolate"
                            width="230"
                            height="201"
                            />
                        
                            <h3 class="products-name">honey</h3>
                            <p class="products-text">Milk chocolate</p>
                            <button class="products-btn" type="button">50 UAH</button>
                        </div>
                    </li>
                </div>


                <div class="swiper-slide">
                    <div class="products-item">
                        <div class="products-thumb">
                            <img 
                            srcset="./img/our-products/roasted-fruits-chocolate@2x.jpg 2x"
                            src="./img/our-products/roasted-fruits-chocolate.jpg"
                            alt="bar of chocolate"
                            width="230"
                            height="201"
                            />
                        
                            <h3 class="products-name">Roasted fruits</h3>
                            <p class="products-text">Dark chocolate</p>
                            <button class="products-btn" type="button">66 UAH</button>
                        </div>
                    </div>
                </div>
                

                <div class="swiper-slide">
                    <div class="products-item">
                        <div class="products-thumb">
                            <img 
                            srcset="./img/our-products/classic-white-chocolate@2x.jpg 2x"
                            src="./img/our-products/classic-white-chocolate.jpg"
                            alt="bar of chocolate"
                            width="230"
                            height="201"
                            />
                        
                            <h3 class="products-name">Classic</h3>
                            <p class="products-text">White chocolate</p>
                            <button class="products-btn" type="button">54 UAH</button>
                        </div>
                    </div>
                </div>
                
    
            </div>
            <div class="swiper-pagination"></div>
        </div>        

    </div>
</section>