<div class="container">
    <section class="subscribe">
    <h1 class="subscribe_title">EXPLORE OUR NEW <br>CHOCOLATE FIRST</h1>
    <p class="subscribe_text">From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.</p>
    <button class="subscribe_button js-open-modal" data-modal="5" type="button">Subscribe</button>
    </section>
</div>
<form class="subscribe-modal__form modal" data-modal="5" name="subscribe-modal" autocomplete="off">
    <div class="subscribe-modal__background">    
    <button class="subscribe-modal__button js-modal-close">
        <svg class="subscribe-modal__icon" width="24" height="24">
            <use href="../img/sprite.svg#menu-modal-close-icon"></use>
        </svg>
    </button>
    </div>
    <div class="subscribe-modal">
    <h2 class="subscribe-modal__title">Explore our <br><span class="subscribe-modal__span">new chocolate</span> first!</h2>
    <div class="subscribe-modal__position">
    <input class="subscribe-modal__input" type="email" name="email" required pattern="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$" placeholder="Enter your email"/>
    <button class="subscribe-modal__submit" type="submit">Submit</button>
    
    </div>
    </div>
</form>