<section class="top-sellers" id="top-sellers">
  <div class="container">
    <h2 class="top-sellers-titile">top <span class="sellers">sellers</span> </h2>
    
    <ul class="top-sellers-ul">
      <li class="top-sellers-li mb">
        <img
          srcset="./img/top-sellers/chocolate-ingredients-desktop@2x.jpg 2x"
          src="./img/top-sellers/chocolate-ingredients-desktop.jpg"
          class="top-sellers-img"
          alt="img1"
          width="368"
        />
        <p class="top-sellers-titile-mobile">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
      </li>
      
      
      
      <li class="top-sellers-li none">
        <img
          srcset="./img/top-sellers/jenga-chocolate-desktop@2x.jpg 2x"
          src="./img/top-sellers/jenga-chocolate-desktop.jpg"
          class="top-sellers-img"
          alt="img2"
          width="368"
        />
        <p></p>
      </li>
      <li class="top-sellers-li">
        <img
          srcset="./img/top-sellers/milk-mint-chocolate-desktop@2x.jpg 2x"
          src="./img/top-sellers/milk-mint-chocolate-desktop.jpg"
          class="top-sellers-img"
          alt="img3"
          width="368"
        />
        <p></p>
      </li>
    </ul>
    <div class="top-sellers-box">
      <p class="top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="top-sellers-input js-open-modal" data-modal="4" type="button">
       Buy now
    </button>
    </div>
  </div>
</section>
