<section class="components">
    <div class="container">
        <div class="components-block">
            <h2 class="components-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="title-accent">TASTE</span> SENSATION</h2>
            <p class="components-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
        </div>
        <ul class="components-list list">
            <li class="components-item item-orange">
                <picture>
                <img src="" alt="">
                </picture>
                <p class="components-item-name name-white">MILK CHOCOLATE</p>
            </li>
            <li class="components-item item-white">
                <picture>
                    
                </picture>
                <p class="components-item-name">MILK</p>
            </li>
            <li class="components-item item-black">
                <picture>
                    
                </picture>
                <p class="components-item-name name-white">NUTS</p>
            </li>
            <li class="components-item item-white">
                <picture>
                    
                </picture>
                <p class="components-item-name">SEMI - SWEET CHOCOLATE</p>
            </li>
        </ul>
    </div>
</section>