:root {
   --color-white-opacity: rgba(255, 255, 255, 0.5);
}

.section-advantages {
   background-color: var(--color-dark-purple);
   padding-top: 20px;
   padding-bottom: 36px;
}

@media (min-width: 768px) {
   .section-advantages {
      padding-top: 50px;
      padding-bottom: 85px;
   }
}

@media (min-width: 1200px) {
   .section-advantages {
      padding-top: 50px;
      padding-bottom: 51px;
      height: 344px;
   }
}

@media (min-width: 768px) {
   .adv-list {
      display: flex;
      max-width: 676px;
      flex-wrap: wrap;
      column-gap: 60px;
      row-gap: 33px;
   }
}

@media (min-width: 1200px) {
   .adv-list {
      display: flex;
      max-width: 1100px;
      flex-wrap: nowrap;
      column-gap: 88px;
      row-gap: 0px;
   }
}

.adv-item {
   color: var(--color-white);
}

@media (min-width: 1200px) {
   .adv-item {
      margin: 0;
      position: relative;
   }
}

.adv-item:nth-child(1) {
   margin-bottom: 38px;
}

.adv-item:nth-child(2) {
   margin-bottom: 20px;
}

@media (min-width: 768px) {
   .adv-item:nth-child(1) {
      margin: 0;
   }
}

@media (min-width: 768px) {
   .adv-item:nth-child(2) {
      margin: 0;
   }
}

@media (min-width: 1200px) {
   .adv-item:nth-child(1)::after {
      content: '';
      position: absolute;
      width: 124px;
      height: 1px;
      background-color: var(--color-white);
      opacity: 0.5;
      transform: rotate(90deg);
      left: 264px;
      bottom: 121.5px;
   }
}

@media (min-width: 1200px) {
   .adv-item:nth-child(2) {
      margin: 0;
   }
}

@media (min-width: 1200px) {
   .adv-item:nth-child(2)::after {
      content: '';
      position: absolute;
      width: 124px;
      height: 1px;
      background-color: var(--color-white);
      opacity: 0.5;
      transform: rotate(90deg);
      left: 264px;
      bottom: 121.5px;
   }
}

.adv-div-icon {
   width: 62px;
   height: 62px;
   margin-bottom: 22px;
   border: 1px solid var(--color-white-opacity);
   border-radius: 365px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.avd-icon {
   width: 32px;
   height: 32px;
}

.adv-title {
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 18px;
}

.avd-paragraph {
   max-width: 308px;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: -0.02em;
   opacity: 0.7;
}