.header {
  position:static;
  top: -1px;
  padding-top: 20px;
  padding-bottom: 14px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 18px;
  }
}
.header-logo-span {
  font-style: italic;
}
.header-logo-icon {
  margin-left: 4px;
}
.header-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    margin-left: 188px;
    gap: 24px;
  }
}

.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: -0.02em;
  transition: color ease-in 500ms, font-weight ease-in 500ms;
  position: relative;
}

.header-list-link:hover,
.header-list-link:focus {
  font-weight: 600;
  color: var(--color-orange);
}
.header-list-link::after {
  content: '';
  display: block;
  width: 24px;
  height: 1px;
  background-color: var(--color-orange);
  position: absolute;
  left: 0;
  bottom: -8px;
  transform: scaleX(0);
  transform-origin: left center;
  opacity: 0;
  transition: transform ease-in 500ms, opacity ease-in 500ms;
}
.header-list-link:hover::after,
.header-list-link:focus::after {
  transform: scaleX(100%);
  opacity: 1;
}

.header-socials-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-socials-list {
    display: flex;
    margin-left: auto;
    gap: 18px;
  }
}

.header-socials-link {
  fill: none;
  stroke: currentColor;
  transition: stroke ease-in 500ms;
}
.header-socials-link:hover,
.header-socials-link:focus {
  stroke: var(--color-orange);
}
.header-menu-button {
  margin-left: auto;
  width: 28px;
  height: 28px;
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header-menu-button {
    display: none;
  }
}
.menu-button-icon {
  stroke: currentColor;
}
