.hero {
  padding-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

.hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

  border-radius: 30px;
  border: none;

  min-height: 620px;

  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/hero/hero-mobile-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/hero-mobile-img@2x.jpg);
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 375px) and (max-width: 767.99px) {
  .hero-container {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/hero-tablet-img.jpg);
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../img/hero/hero-tablet-img@2x.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;

    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/hero-desktop-img.jpg);
    background-size: cover;
    background-position: center;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../img/hero/hero-tablet-img@2x.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;

    min-height: 600px;
    max-width: 1136px;
  }
}

.hero-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;

  max-width: 299px;

  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 28px;
    max-width: 484px;
  }
}

.btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* @media screen and (min-width: 768px) {
} */

.hero-buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;

  padding: 12px 28px;
  margin-right: 14px;
  margin-bottom: 32px;
  max-width: 120px;
  max-height: 41px;

  border-radius: 100px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-orange);
  transition: background-color, color 200ms linear;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
}

@media screen and (min-width: 768px) {
  .hero-buy-btn {
    max-width: 144px;
    max-height: 45px;
    padding: 14px 40px;
    margin-bottom: 0;
  }
}

.hero-made-anchor {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;

  width: 159px;
  height: 41px;
  padding: 12px 28px;
  margin-bottom: 32px;

  border-radius: 100px;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white);
  transition: background-color, color 200ms linear;
}

.hero-made-anchor:hover,
.hero-made-anchor:focus {
  background-color: var(--color-white);
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

@media screen and (min-width: 768px) {
  .hero-made-anchor {
    width: 183px;
    height: 45px;
    padding: 14px 40px;

    margin-bottom: 0;
  }
}

.hero-scroll {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.scroll-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.03em;

  color: var(--color-white);
  transition: color 200ms linear;
}

.hero-scroll:hover .scroll-txt,
.hero-scroll:focus .scroll-txt {
  color: var(--color-orange);
}

.hero-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  padding: 6px;

  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
  fill: var(--color-orange);
  transition: background-color 200ms linear;
}

.hero-scroll:hover .hero-icon,
.hero-scroll:focus .hero-icon {
  fill: white;
  background-color: var(--color-orange);
}

/* .hero-icon:hover,
.hero-icon:focus {
  background-color: var(--color-orange);
  fill: var(--color-white);
} */

@media screen and (min-width: 768px) {
  .hero-scroll {
    gap: 14px;
    font-size: 14px;
    margin-left: auto;
  }

  .hero-icon {
    width: 38px;
    height: 38px;
    padding: 8px;
  }
}
