.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 800ms ease-out 500ms, visibility 800ms ease-out 500ms,
    backdrop-filter 800ms ease-out 500ms;
}
@media screen and  (min-width: 1200px) {
    .menu-container {
        display: none;
    }
}
.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  backdrop-filter: blur(2px);
}
.menu-wrapper {
  position: relative;
  max-width: 220px;
  width: 100%;
  margin-left: auto;
  height: 100%;
  padding: 136px 10px 50px 50px;
  background-color: var(--color-dark-purple);

  transform: translateX(100%);
  transition: transform 500ms ease-in-out 300ms;
}
@media screen and (min-width: 768px) {
  .menu-wrapper {
    max-width: 290px;
    padding-top: 156px;
    padding-left: 85px;
  }
}

.menu-container.is-open .menu-wrapper {
  transform: translateX(0);
}
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: none;
  stroke: var(--color-white);
  background-color: transparent;
  border: none;
  padding: 0;
}
@media screen and (min-width:768px) {
    .menu-toggle {
        top:24px;
        right:32px;
    }
}
.mobile-list-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: -0.02em;

  color: var(--color-white);
  transition: color ease-in 500ms, font-weight ease-in 500ms;
  position: relative;
}

.mobile-list-link:hover,
.mobile-list-link:focus {
  font-weight: 600;
  color: var(--color-orange);
}
.mobile-list-link::after {
  content: '';
  display: block;
  width: 24px;
  height: 1px;
  background-color: var(--color-orange);
  position: absolute;
  left: 0;
  bottom: -8px;
  transform: scaleX(0);
  transform-origin: left center;
  opacity: 0;
  transition: transform ease-in 500ms, opacity ease-in 500ms;
}
.mobile-list-link:hover::after,
.mobile-list-link:focus::after {
  transform: scaleX(100%);
  opacity: 1;
}

.mobile-socials-list {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 18px;
}
@media screen and (min-width:768px) {
    .mobile-socials-list {
        left:32px;
        bottom:24px;
    }
}
.mobile-socials-link {
  fill: none;
  stroke: var(--color-white);
  transition: stroke ease-in 500ms;
}
.mobile-socials-link:hover,
.mobile-socials-link:focus {
  stroke: var(--color-orange);
}

