.top-sellers {
  
 
}

/* .top-sellers {
}

.top-sellers-ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
  margin-top: 50px;
  margin-bottom: 32px;
}
.top-sellers-li:not(:last-child) {
  margin-right: 16px;
}
.top-sellers-li {
}
.top-sellers-img {
}
.top-sellers-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
.top-sellers-text {
  margin-right: 567px;
}

.top-sellers-input-text {
  width: 82px;
  height: 22px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
} */
.top-sellers-input {
  transition: background-color,color .2s linear;
}
.top-sellers-input:hover, .top-sellers-input:focus {
  background: #FCF1E0;
  color: var(--color-orange);
}
@media screen and (max-width: 767px) {
  .top-sellers {
    
    padding-bottom: 72px;
    
  }
  .mb {
    margin-bottom: 32px;
  }
  .top-sellers-titile {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: var(--color-orange);
    margin-bottom: 32px;
  }
  .sellers {
    color: var(--color-black);
  }
  .none {
    display: none;
  }
  .top-sellers-input {
    display: flex;

    align-items: flex-start;
    padding: 14px 40px;
    gap: 14px;

    height: 50px;
    border: var(--color-orange);
    background: var(--color-orange);
    border-radius: 100px;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #ffffff;
    margin-top: 20px;
  }
  .top-sellers-input-text {
  }
  .top-sellers-titile-mobile {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;

    letter-spacing: -0.02em;
   
    margin-top: 20px;
    margin-right: 1.4;
    
  }
  .top-sellers-text {
    display: none;
  }
  .top-sellers-img {
    width: 335px;
    height: 464px;

    border-radius: 15px;
    margin: 0px;
  }
}
@media screen and (min-width: 768px) {
  .top-sellers {
    
    padding-bottom: 100px;
    
  }
  .top-sellers-titile-mobile {
    display: none;
  }
  
  .top-sellers-ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 32px;
  }
  
  .top-sellers-li:not(:last-child) {
    margin-right: 16px;
  }
  .top-sellers-titile {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: var(--color-orange);
    margin-bottom: 32px;
  }
  .sellers {
    color: var(--color-black);
  }
  
  .top-sellers-input {
    display: flex;

    align-items: flex-start;
    padding: 14px 40px;
    gap: 14px;

    height: 50px;
    border: var(--color-orange);
    background: var(--color-orange);
    border-radius: 100px;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-white);
    
  }
  .top-sellers-input-text {
    width: 82px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: var(--color-white);
  }
  .top-sellers-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
}
@media screen and (max-width: 1199px) {

  .none {
    display: none;
  }
  .top-sellers-text {
    margin-right: 236px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    width: 306px;
    letter-spacing: -0.02em;
  }
  .top-sellers-img {
    width: 344px;
    height: 464px;

    border-radius: 15px;
    margin: 0px;
  }

}

@media screen and (min-width: 1200px) {
  .top-sellers {
    
    padding-bottom: 128px;
    
  }
  .top-sellers-img {
    

    border-radius: 15px;
    margin: 0px;
  }
  .top-sellers {
  }
  
  .top-sellers-ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 50px;
    margin-bottom: 32px;
  }
  .top-sellers-li:not(:last-child) {
    margin-right: 16px;
  }
  .top-sellers-li {
  }
  .top-sellers-img {
  }
  .top-sellers-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
  }
  .top-sellers-text {
    margin-right: 567px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    width: 407px;
    letter-spacing: -0.02em;
  }
  .top-sellers-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 40px;
    gap: 14px;
  
    height: 50px;
    border: #fd9222;
    background: var(--color-orange);
    border-radius: 100px;
  }
  .top-sellers-input-text {
    width: 82px;
    height: 22px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: var(--color-white);
  } 
}
